@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Manrope:wght@400;700;800&display=swap');

body {
        font-family: 'Manrope', sans-serif;
}

.bg-light-black {
        background-color: #151515;
        color: #fff;
}

.bg-dark-black {

        background-color: #0e0c0cf3;
        color: white;
}

.text-orange {
        color: #FF5E19;
}

header h1 {
        font-family: 'Berkshire Swash', cursive;
        font-size: 4.75rem;

}

.select-card {
        min-height: 315px;
}

ol>li::marker {
        font-weight: bold;
        color: gray;
}